body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: white no-repeat center center fixed;
    background-blend-mode: screen;
    background-size: cover;
  } 

  .root{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      padding: 0px;
  } 

  .app {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 0.3em;
    background-image:url('popcorn.jpg');
    background-blend-mode: lighten;
    height: 100%;
    background-position: center;
    
  } 

html {
    box-sizing: border-box;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    color: white;
    margin: 0px;
  }


  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    margin-top: 1em;
    background-color: midnightblue
}

.header--logoNname{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.header--logo{
    max-width: 60px;
    margin-right: 1em;
}

.header--name{
    margin-right: 1em;
}
h1 {
    font-family: "Ultra", serif;
    font-weight: 200;
    margin: 0px;
    font-size: 32px;
  }

  form{
      margin-bottom: .1em;
  }

  .search--label{
      margin-right: .2em;
  }

  .search--input{
      border-radius: 8px;
      border: 2px solid white;
      margin-right: .2em;
  }

.search--btn{
    background-color: white;
    color: midnightblue; 
    border-radius: 8px;
}

main {
    display: flex;
    flex-direction: column;
    
  }

  .film--btn{
      color: white;
  }

  .active{
      color:red;
  }

  .film--poster{
      grid-area: poster;
      max-width: 100%;
      object-fit: contain;
      justify-self: center;
      padding: 1em;
  }

  .film--title{
    grid-area: title;
}

.film--year{
    grid-area: year;
}

.film--type{
    grid-area: type;
}

.film--btn{
    grid-area: btn;
}

.film--addInfo{
    grid-area: addInfo;
    max-width: 355px;
    padding: 1em;
}

.film{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "poster title title"
        "poster year btn"
        "poster type type"
        "poster null null"
        "addInfo addInfo addInfo ";
    margin-top: 1em;
    grid-column-gap: 1em;
    background-color: midnightblue;
}

.films{
    max-width: 800px;
    margin-top: 1.5em;
    justify-content: center;
}

.loadMore, .favourites--clearAll{
    margin: .5em;
    border: 2px solid midnightblue;
    color: white;
    background-color: midnightblue;
    border-radius: 8px;
    padding: .3em 3em .3em 3em;
}

.favourites{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.favourites--title{
    background-color: midnightblue;
    padding: .5em 5em .5em 5em;
    border-radius: 8px;
}

.favourites--films{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.fav--film{
    background-color:  midnightblue;
    margin: .5em;
    display: flex;
    flex-direction: column;
}

.fav--img{
    max-width: 30vw;
}

.fav--title{
    max-width: 30vw;
    text-align: center;
    font-size: .5em;
}

.fav--controls{
    display: flex;
    justify-content: flex-end;
}

.fas{
    padding: .1em;
}

@media(min-width: 768px){

    header{
        max-height: 10vh;
    } 

    .film{
        max-width: 350px;
        margin: .3em;
    }
    
    .films{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .fav--img{
        max-width: 150px;
    }
    
    .fav--title{
        max-width: 150px;
    }

}


