html {
    box-sizing: border-box;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    color: midnightblue;
  }

.logo{
    max-width: 40px;;
}

h1 {
    font-family: "Ultra", serif;
    font-weight: 200;
    margin: 0px;
  }

  .fav-button{
      color: midnightblue;
  }

  .active{
      color:red;
  }